body {
  margin: 0px;
}

/* headers */
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
}
.logo {
  width: 150px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

/* body  */
.body-container {
  margin: 20px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 200px;
  /* min-height: 200px; */
  padding: 10px;
  margin: 10px;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.res-logo {
  width: 100%;
}

/*  */